In [68]:
import pickle
import pandas as pd

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "rb"))
df = pd.DataFrame(enron_data)
#for data in enron_data.values():
 #   print(data['poi'])
poi = [data for data in enron_data.values() if data['poi']== 1 ]
nansal = [data for data in enron_data.values() if data['salary']== 'NaN' ]
nanemail = [data for data in enron_data.values() if data['email_address']== 'NaN' ]
nantp = [data for data in enron_data.values() if (data['total_payments']== 'NaN' and data['poi']== 1) ]
#print(enron_data['PRENTICE JAMES']['total_stock_value'])
#print(enron_data['COLWELL WESLEY']['from_this_person_to_poi'])
print(enron_data['SKILLING JEFFREY K']['total_payments']) 
print(enron_data['FASTOW ANDREW S']['total_payments'])
print(enron_data['LAY KENNETH L']['total_payments'])
print(len(enron_data)-len(nansal))
print(len(enron_data)-len(nanemail))
print(len(poi))

8682716
2424083
103559793
95
111
18